// Colors
$darkGrey: #323232;
$white: #dbdbdb;
$black: #2f2f2f;
$blue: #3266ce;
$link: #a8a7e1;

$backgroundDarker: #252627;
$backgroundDark: #292a2d;

//Fonts
$fontHeader: 'Fira Mono', monospace;
$fontParagraph: 'Open Sans', sans-serif;
$fontCode: 'Fira Mono', monospace;

// Content
$breakLarge: 992px;
$width: 760px;